@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 27 96% 56%;
    /* emerald-400 */
    --primary-foreground: 0 0% 100%;

    --secondary: 316 69% 68%;
    /* rose-400 */
    --secondary-foreground: 0 0% 100%;

    --muted: 32 100% 91%;
    /* very light orange tint */
    --muted-foreground: 32 70% 40%;
    /* medium orange text */

    --accent: 320 89% 96%;
    /* very light rose */
    --accent-foreground: 350 60% 40%;
    /* rose for readable contrast */

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 32 100% 50%;
    --input: 160 60% 85%;
    --ring: 32 100% 50%;
  }

  .dark:root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 160 83% 31%;
    /* emerald-600 */
    --primary-foreground: 0 0% 100%;

    --secondary: 314 59% 51%;
    /* rose-600 */
    --secondary-foreground: 0 0% 100%;

    --muted: 160 30% 15%;
    /* dark emerald tint */
    --muted-foreground: 160 50% 70%;
    /* light greenish text */

    --accent: 316 65% 34%;
    /* dark rose tone */
    --accent-foreground: 0 0% 98%;
    /* white text */

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 160 40% 25%;
    --input: 160 40% 20%;
    --ring: 160 83% 31%;
  }
}